$primary-color: #f93b51;
$nav-selected: #FC3A51;
$shadow: #d3d3d3;

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a {
  font-family: 'Lobster', 'Comic Sans', cursive;
}

h3,
h4,
h5,
p {
  font-family: 'Josefin Sans', 'Verdana', sans-serif;
}

header {
  padding: 10px;
  margin: 0 4em 0 4em;
  background-color: #f93b51;
  color: #fff;
  height: 3.5em;
  width: calc(100vw - 8em);
  border-radius: 0 0 1em 1em;
  display: block;
  position: fixed;
  z-index: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#logo-header {
  float: left;
  height: 3.5em;
  margin-right: 10px;
}

#title-head {
  float: right;
  display: inline-block;
  height: 3.5em;
  top: 0px;
  position: absolute;
}

.nav-item {
  float: left;
  height: 2em;
  margin-top: calc(1.5em - 10px);
  margin-right: 1.5em;

  a {
    font-size: 1.5em;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 5px;
  }

  :hover {
    color: $nav-selected;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: $shadow;
  }

}

#carousel {
  margin: 0;
  width: 100vw;
}

#carousel-image {
  display: block;
  width: 100%;
}

#features {
  margin: 3.5em 1em 0 1em;
  width: calc(100vw - 2em);
  height: 250px;
  background-color: yellow;
}
