@import "variables";
@import "defaults";

#start-logo {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  z-index: 2;
  img {
    height: 3em;
  }
}

.flex {
  display: flex;
}
@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

header {
  display: none;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba($primary-color, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;

  .logo {
    flex-grow: 1;
    padding-top: .2em;
    img {
      height: 2.5em;
    }
  }

  nav {
    display: flex;
  }
}

.nav-item {
  height: 1.5em;
  margin: 0.5em 1.5em 0 0;

  a {
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  :hover {
    color: $nav-selected;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: $shadow;
  }
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;

  h2 {
    text-align: center;
    position: relative;
    margin: 60px 0;
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 60px;
      height: 1px;
      background-color: $highlight-color;
      left: 50%;
      margin-left: -30px;
    }
  }
}

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;

  #carousel-text {
    position: absolute;
    top: 55vh;
    opacity: 0;
    color: #fff;
    text-shadow: 2px 2px $primary-color;
    z-index: 1;
    transition: all 1.5s ease-out;
  }
  &.active #carousel-text {
    top: 50vh;
    opacity: 1;
  }

  .carousel-image {
    position: absolute;
    display: block;
    margin: auto;
    min-width: 100%;
    height: 100%;
  }
}

#about {
  background-color: #f1f1f1;
  padding: 20px 20px 0 20px;

  p {
    flex: 3;
  }

  #aboutmockup {
    flex: 2;
    align-self: flex-end;
    transform: translateX(500px);
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  &.active #aboutmockup {
    transform: translateX(0px);
    opacity: 1;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#staff {
  height: 100%;
  color: $primary-color;
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .staff-profile {
    flex: 0 0 100%;
  }

  @media (min-width: 600px) {
    .staff-profile {
      flex: 0 0 50%;
    }
  }

  @media (min-width: 960px) {
    .staff-profile {
      flex: 0 0 33%;
    }
  }
  .staff-profile {
    transition: background-color 0.3s;
    &:hover {
      color: #fff;
      background-color: $highlight-color;
    }

    .headshot {
      height: 5em;
      width: 5em;
      margin-left: calc(50% - 2.5em);
      padding-top: 10px;
    }

    .staff-name {
      text-align: center;
      font-size: 2em;
    }

    .staff-bio {
      width: calc(100% - 5em);
      margin-left: 2.5em;
      text-align: center;
      font-style: italic;
    }
  }
}

.footer {
  width: 100vw;
  height: 6em;
  background-color: $primary-color;
  color: #fff;
}
