$primary-color: #252525;
$highlight-color: #f39c12;
$nav-selected: #202b47;
$shadow: #d3d3d3;

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primary-color;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
  sub {
    padding: 5px;
    color: $highlight-color;
  }
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'Saira Extra Condensed', sans-serif;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#fake-header {
  position: absolute;
  display: block;
  top: 200px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  img {
    height: 3em;
  }
}

header {
  display: none;
  padding: 10px;
  margin: 0 4em 0 4em;
  background-color: rgba($primary-color, 0.8);
  color: #fff;
  height: 3em;
  width: calc(100vw - 8em);
  border-radius: 0 0 1em 1em;
  position: fixed;
  z-index: 2;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row {
  &::before,
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

#logo-header {
  height: 2.5em;
  padding-top: .2em;
}

.nav-item {
  float: left;
  height: 1.5em;
  margin-top: calc(1.5em - 10px);
  margin-right: 1.5em;

  a {
    font-size: 1.3em;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 5px;
  }

  :hover {
    color: $nav-selected;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: $shadow;
  }
}

section {
  overflow: hidden;
  h2 {
    text-align: center;
    position: relative;
    margin: 60px 0;
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 60px;
      height: 1px;
      background-color: $highlight-color;
      left: 50%;
      margin-left: -30px;
    }
  }
}

#carousel {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  #carousel-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55vh;
    opacity: 0;
    color: #fff;
    text-shadow: 2px 2px $primary-color;
    z-index: 1;
    transition: all 1.5s ease-out;
  }
  &.active #carousel-text {
    top: 50vh;
    opacity: 1;
  }

  .carousel-image {
    position: absolute;
    display: block;
    min-width: 100%;
    height: 100%;
  }
}

#about {
  background-color: #f1f1f1;
  height: 80vh;
  padding: 20px 20px 0 20px;

  #aboutmockup {
    transform: translateX(500px);
    opacity: 0;
    transition: all 1.5s ease-out;
  }

  &.active #aboutmockup {
    transform: translateX(0px);
    opacity: 1;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#staff {
  width: 100vw;
  height: 850px;
  color: $primary-color;

  .staff-profile {
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background-color: $highlight-color;
    }

    .headshot {
      height: 5em;
      width: 5em;
      margin-left: calc(50% - 2.5em);
      padding-top: 10px;
    }

    .staff-name {
      text-align: center;
      font-size: 2em;
    }

    .staff-bio {
      width: calc(100% - 5em);
      margin-left: 2.5em;
      text-align: center;
      font-style: italic;
    }
  }
}

.footer {
  width: 100vw;
  height: 6em;
  border-radius: 1em 1em 0 0;
  background-color: $primary-color;
  color: #fff;
}

@mixin make-cols ($type) {
  @for $i from 1 through 12 {
    .col-#{$type}-#{$i} {
      float: left;
      width: $i * 100%/12;
      padding: 0;
    }
  }
}

$type-sizes: (sm: 800px, md: 1000px, lg: 1200px);

@each $type, $size in $type-sizes {
  @media screen and (min-width: $size) {
    @include make-cols($type);
  }
}
