body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
a {
  font-family: 'Lobster', 'Comic Sans', cursive; }

h3,
h4,
h5,
p {
  font-family: 'Josefin Sans', 'Verdana', sans-serif; }

header {
  padding: 10px;
  background-color: #f93b51;
  color: #fff; }

#logo-header {
  float: left;
  height: 50px;
  margin: 0 10px 5px 10px; }

#title-head {
  font-size: 2em;
  margin-bottom: 5px; }

#carousel {
  width: 100vw;
  height: 100%; }

#carousel-image {
  display: block;
  width: 100%; }
